ENGINE_UNIX_SOCKET_PATH=/tmp/engine.sock

# Calculate the maximum value among the INPUT data sizes (in Megabytes) of all engine tasks, then set this value.
RESOURCE_SHM_INPUT_SIZE_MB=6

# Calculate the maximum value among the OUTPUT data sizes (in Megabytes) of all engine tasks, then set this value.
RESOURCE_SHM_OUTPUT_SIZE_MB=6